~/.dotfiles/*
~/.dotnet/*
~/.npm/*
~/.nvm/*
~/.ssh/*
~/.vscode/*
~/.yarn/*
~/.parsec*/*
~/.cache/*
~/.local/share/*
~/.asdf/*
~/.bash_history
~/.bash_sessions
~/.bash_logout
~/.bundle/*
~/.cert/*
~/.dia/*
~/.gem/*
~/.gphoto/*
~/.nvidia-settings-rc
~/.pki/*
~/snap/*
~/Pictures/*
~/Videos/*
~/Music/*
~/Downloads/*
~/Documents/*
~/Desktop/*
~/Templates/*
~/Public/*
