.dotfiles/
.dotnet/
.npm/
.nvm/
.ssh/
.vscode/
.yarn/
.parsec/
.cache/
.local/share/
.asdf/
.bash_history
.bash_sessions
.bash_logout
.bundle/
.cert/
.dia/
.gem/
.gphoto/
.nvidia-settings-rc
.pki/
snap/
Pictures/
Videos/
Music/
Downloads/
Documents/
Desktop/
Templates/
Public/
.config/totem/
.config/nautilus/
.config/gh/
.config/yarn/
.config/evolution/
.config/freerdp/
.config/github-copilot/
.config/go/
.config/ibus/
.config/keepassxc/
.config/pulse/
.config/remmina/
.config/tiling-assistant/
.config/*.list
.config/*.local
.config/*.log
.local/.IdentityService/
.local/state/
.anydesk/                                                                         
.config/.gsd-keyboard.settings-ported                                            
.config/Code/                                                              
.config/QtProject.conf                                                    
.config/armcord/                                                         
.config/configstore/                                                   
.config/dconf/                                                       
.config/discord/                                                  
.config/enchant/                                                
.config/evince/                                                
.config/gnome-initial-setup-done                              
.config/google-chrome/                                   
.config/gtk-3.0/                                       
.config/gtk-4.0/                                      
.config/i3/                                       
.config/libreoffice/                                                               
.config/libvirt/                                                              
.config/menus/                                                           
.config/monitors.xml                                                    
.config/monitors.xml~                                                  
.config/notion-app/                                               
.config/user-dirs.dirs                                         
.config/user-dirs.locale                                    
.gitconfig                                          
.gnome/                                                             
.gnupg/                                                          
.lesshst                                                       
.parsec-persistent/                                           
.profile                                                 
.sudo_as_admin_successful                               
.tool-versions                                                           
.var/                                                                 
.vim/                                                          
.yarnrc                                              
go/
